@import "~antd/dist/antd.css";
#root .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#root.trigger:hover {
  color: #1890ff;
}

#root .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-layout{
    height: 100%;
}
#root .ant-layout-sider{
    overflow-y: auto;
}
.header-nav{
    color: #222;
    padding: 0 10px;
    transition: .3s all;
}
.header-nav:hover{
    background: rgba(0, 0, 0, 0.025);
    color: #222;
    transition: .3s all;
}
